---
import Base from "~/layouts/base.astro";
---

<Base title="fan listings - n3bula.lol" pageTitle="listings">
  <section>
    <h1>Fan Listings</h1>
    <div class="content">
      <p><a href="/stuff">&lt; Go Back to Stuff</a></p>
      <div class="flex-grid">
        <a href="https://genshin.celestia.nu"
          ><img
            src="https://file.garden/aXdBx1DU1BidR1It/genshin_50x50_01.gif"
          /></a
        >
        <a href="https://www.celes.net/flins"
          ><img src="https://file.garden/aXdBx1DU1BidR1It/50x50-1.jpg" /></a
        >
        <a href="https://www.celes.net/ff7/"
          ><img src="https://file.garden/aXdBx1DU1BidR1It/ff7_50x50-3.png" /></a
        >
        <a href="https://residentevils.net/index.php"
          ><img src="https://file.garden/aXdBx1DU1BidR1It/re50x50_8.png" /></a
        >
        <a href="http://cloud.hatsukoi.org"
          ><img src="https://file.garden/aXdBx1DU1BidR1It/50-23.gif" /></a
        >
        <a href="https://tfl.hakumei/sephiroth/"
          ><img src="https://file.garden/aXdBx1DU1BidR1It/06.gif" /></a
        >
        <a href="https://fan.elysia.nu/reno/"
          ><img src="https://file.garden/aXdBx1DU1BidR1It/50x50_05.png" /></a
        >
        <a href="https://fan.redcrown.net/arcane"
          ><img src="https://file.garden/aXdBx1DU1BidR1It/50x50-6.png" /></a
        >
        <a href="http://fan.midnight-cloud.net/frieren/"
          ><img src="https://file.garden/aXdBx1DU1BidR1It/d_50_03.jpg" /></a
        >
      </div>
    </div>
  </section>
</Base>
