---
import Base from "~/layouts/base.astro";
---

<Base title="stuff - n3bula.lol" pageTitle="stuff">
  <section>
    <h1>Random Stuff</h1>
    <div class="content">
      <p>
        Things that aren't big enough for their own sections, but I still wanna
        show off on the site.
      </p>
      <p>
        <strong
          >Note: Some of these pages contain a bunch of images/gifs! Beware!</strong
        >
      </p>
      <hr />
      <ol>
        <li><a href="/stuff/fanlistings">Fan Listings</a></li>
        <li><a href="/stuff/wall">The Button Wall</a></li>
        <li><a href="/stuff/blinkies">Blinkies</a></li>
      </ol>
    </div>
  </section>
</Base>
