---
import Base from "~/layouts/base.astro";
---

<Base title="bookmarks - n3bula.lol" pageTitle="bookmarks">
  <section>
    <h1>Web-dev Bookmarks</h1>
    <div class="content">
      <p>Stuff that is useful when making sites.</p>
      <ul>
        <li>
          <a href="https://developer.mozilla.org">MDN</a> - Mozilla's docs on HTML,
          CSS, and JS. I find this site useful if I just want a quick example on how
          something works.
        </li>
        <li>
          <a href="https://css-tricks.com">CSS-Tricks</a> - This site is literally
          a god send. Theres so many guides on how to make cool things with CSS.
        </li>
        <li>
          <a href="https://www.w3schools.com">w3schools</a> - I used to use this site
          all the time, but I now prefer to use MDN. Still a good resource though.
        </li>
        <li>
          <a href="https://fonts.google.com">Google Fonts</a> - A huge collection
          of fonts that are free to use.
        </li>
      </ul>
    </div>
  </section>
  <section>
    <h2>Useful Sites</h2>
    <div class="content">
      <p>Random sites I find useful.</p>
      <ul>
        <li>
          <a href="https://www.birme.net">BIRME</a> - Makes it easy to edit a bunch
          of images quickly.
        </li>
        <li>
          <a href="https://88x31.datakra.sh">88x31 Maker by datakra.sh</a> - I used
          to use this site before I started making mine in Aseprite.
        </li>
        <li>
          <a href="https://accreditly.io/articles/a-list-of-all-html-meta-tags"
            >List of HTML Meta Tags</a
          > - I found this article while searching for them. Really useful.
        </li>
      </ul>
    </div>
  </section>
</Base>
