---
import Webrings from "~/components/webrings.astro";
import Base from "~/layouts/base.astro";
---

<Base title="home - n3bula.lol" pageTitle="home">
  <section>
    <h1>Welcome</h1>
    <div class="content">
      <p>
        Hello traveller, welcome to my webbed site! You can call me <em
          >nebula</em
        >. I created this site as a place to home all my personal
        projects/creations, from blogs, shitty art, code, and more.
      </p>
    </div>
  </section>
  <section>
    <h2>Webrings</h2>
    <div class="content">
      <p>All the webrings I happen to be a member of are below!</p>
      <Webrings />
    </div>
  </section>
</Base>
