---
import Base from "~/layouts/base.astro";
---

<Base title="not found - n3bula.lol" pageTitle="404">
  <section>
    <h1>Page not found</h1>
    <div class="content">
      <p>
        Uh Oh! Well, this is embarrasing... That page does not exist. Did you
        just stumble upon this page or was there a broken link?
      </p>
      <a href="/">Go Back to Safety...</a>
    </div>
  </section>
</Base>
