---
import Base from "~/layouts/base.astro";
---

<Base title="profile - n3bula.lol" pageTitle="profile">
  <section>
    <h1>About Me</h1>
    <div class="content">
      <p>
        <strong
          ><a href="#socials">Click here</a> to quickly jump to my socials/contact
          details :3</strong
        >
      </p>
      <p>
        My real name is Marcus. I was born in 2009, in the very sunny, very
        tropical... <em>England</em>. I was born in August (which makes me a
        Leo). My Dad is British, and my Mum is Lithuanian, so that makes me....
        half British and half Lithuanian. My pronouns are he/him. I'm gay.
      </p>
      <p>
        I don't really have many hobbies, and the ones I do have are pretty
        boring. I read a lot of <a href="https://en.wikipedia.org/wiki/Danmei"
          >danmei</a
        >, watch/read a lot of <a
          href="https://en.wikipedia.org/wiki/Boys%27_love">yaoi</a
        >, and sometimes code. When I do code I tend to use Typescript or Go. <em
          >Rust scares me</em
        >.
      </p>
      <p>
        If I were to describe my music taste in word it would be bipolar. I
        listen to a lot of Conan Gray, but I also listen to more upbeat music
        like Charli xcx, Kim Petras, etc. All my scrobbles are tracked on <a
          href="https://last.fm/user/marcusleonas">last.fm</a
        >.
      </p>
    </div>
  </section>
  <section id="socials">
    <h2>Socials</h2>
    <div class="content">
      <ul>
        <li>
          <a href="https://discord.com/users/854782372834443305"
            >Discord (@flvffywvffy in the Nekoweb server)</a
          >
        </li>
        <li><a href="https://bsky.app/profile/n3bula.lol">Bluesky</a></li>
        <li><a href="https://indieweb.social/@mlh">Mastodon</a></li>
        <li><a href="https://github.com/marcusleonas">Github</a></li>
        <li><a href="https://gitlab.com/marcusleonas">Gitlab</a></li>
        <li><a href="https://last.fm/user/marcusleonas">Last.fm</a></li>
        <li>
          <a href="https://nekoweb.org/follow/n3bula.lol"
            >[+] Follow on Nekoweb</a
          >
        </li>
      </ul>
    </div>
  </section>
  <section>
    <h2>Photos</h2>
    <div class="content">
      <p>None rn. WIP</p>
    </div>
  </section>
</Base>
