---
import Base from "~/layouts/base.astro";
---

<Base title="sitemap - n3bula.lol" pageTitle="sitemap">
  <section>
    <h1>Sitemap</h1>
    <div class="content">
      <p>
        Manually updated by me. See the XML version <a href="/sitemap-index.xml"
          >here</a
        >.
      </p>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/photos">Photos</a></li>
        <li>
          <a href="/blog">Blog</a>
          <ul>
            <li><a href="/blog/nyr2026">New Year Resolutions 2026</a></li>
          </ul>
        </li>
        <li><a href="/bookmarks">Bookmarks</a></li>
        <li>
          <a href="/stuff">Stuff</a>
          <ul>
            <li><a href="/stuff/fanlistings">Fan Listings</a></li>
            <li><a href="/stuff/wall">The Button Wall</a></li>
            <li><a href="/stuff/blinkies">Blinkies</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</Base>
